/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,500;1,500&display=swap");

/* CSS Variables */
:root {
  --heading-font: "Great Vibes", cursive;
  --primary-font: "Nunito", sans-serif;
  --primary-background-color: #1b512d; /* Dark green */
  --background-highlight-color: #def4c6; /* Off-White */
  --primary-text-color: #166444; /* medium green */
  --secondary-text-color: #b1cf5f; /* lime green */
}

/* General CSS */

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  padding-top: 4rem; /* Moves body down to compensate for fixed navbar */
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 2rem;
  word-spacing: 0.3rem;
  margin-bottom: 0px; /* centers heading with burger icon vertically */
  color: var(--background-highlight-color);
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.7rem;
  word-spacing: 0.2rem;
}

p {
  font-size: 1rem;
}

.button-outline {
  background-color: white;
  border-color: var(--primary-background-color);
  color: var(--primary-background-color);
}

.button-outline:hover {
  background-color: var(--primary-background-color);
  color: white;
}

.button-solid {
  background-color: var(--primary-background-color);
  color: white;
  padding: 0.4rem 1.5rem;
}

.button-solid:hover {
  background-color: white;
  border-color: var(--primary-background-color);
  color: var(--primary-background-color);
}

.button-highlight {
  background-color: var(--background-highlight-color);
  color: var(--primary-background-color);
  border: 2px solid var(--background-highlight-color);
}

.button-highlight:hover {
  background-color: var(--primary-background-color);
  border: 2px solid var(--background-highlight-color);
  color: var(--background-highlight-color);
}

.section {
  padding-top: 2.2rem; /* Account for fixed nav bar and h1 responsive size change */
}

main h2,
main h3 {
  color: var(--primary-background-color);
}

/* Navbar */
nav {
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0 3px 3px #3a3a3a;
          box-shadow: 0 3px 3px #3a3a3a;
}

.nav-item .nav-link {
  color: var(--background-highlight-color);
}

#nav-button {
  background-color: var(--background-highlight-color);
  color: var(--primary-background-color);
  border: 2px solid var(--background-highlight-color);
}

#nav-button:hover {
  background-color: var(--primary-background-color);
  border: 2px solid var(--background-highlight-color);
  color: var(--background-highlight-color);
}

/* Header section with hero*/
#hero {
  height: 60vh;
  background: url("../images/hero-small.webp") no-repeat 0px 0px / cover;
  -webkit-box-shadow: 0 3px 3px #3a3a3a;
          box-shadow: 0 3px 3px #3a3a3a;
}

/* Meetings section */
#meetings h3 {
  padding-top: 1rem;
}

#meetings .button-solid {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Nav-card section */
#nav-cards .card {
  border: none;
}

#nav-cards img {
  border-radius: 0.9rem;
}

#nav-cards {
  padding-top: 2rem;
}

/* Footer */
footer {
  -webkit-box-shadow: 0 -3px 3px #3a3a3a;
          box-shadow: 0 -3px 3px #3a3a3a;
  padding-top: 2rem;
}

.contact-info i {
  font-size: 1.2rem; /* To make icons bigger in the footer address section*/
}

#contact {
  background-color: var(--primary-background-color);
  color: var(--background-highlight-color);
  padding-bottom: 1rem;
}

#social-icons {
  font-size: 2.2rem;
  padding-top: 1rem;
}

#social-icons i:hover {
  color: var(--background-highlight-color);
}

#contact i {
  color: var(--secondary-text-color); /* Sets colour of all icons in the footer */
}

#contact h2 {
  padding-bottom: 1rem;
  word-spacing: 0.5rem;
}

/* Registration Page */
#register-hero {
  height: 100vh;
  background: url("../images/hero.webp") no-repeat 0px 0px / cover;
}

#form-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin-inline: auto;
}

#form-section form {
  background-color: rgba(27, 81, 45, 0.85);
  border-radius: 1rem;
  padding: 2rem;
  color: var(--background-highlight-color);
}

#form-section .button-highlight {
  padding: 0.4rem 1.5rem;
}

/* The Garden and Gallery Page */
#garden-hero,
#gallery-hero {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#garden-grid img,
#gallery-grid img {
  height: 320px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 1.5rem;
}

#garden-hero h2,
#gallery-hero h2 {
  color: var(--primary-background-color);
  padding-bottom: 1rem;
}

#gallery-grid,
#garden-grid {
  padding-bottom: 2rem;
}

/* Success page */
#success {
  padding-top: 4rem;
}

#success h2 {
  color: var(--primary-background-color);
}

/* Media Queries */

/* Small screen sizes - 576px and up */
@media screen and (min-width: 576px) {
  #hero {
    -webkit-box-shadow: 3px 3px 3px #3a3a3a;
            box-shadow: 3px 3px 3px #3a3a3a;
  }
}

/* Medium screen sizes - 768px and up */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    word-spacing: 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.2rem;
    word-spacing: 0.2rem;
  }

  body {
    padding-top: 5.9rem; /* Moves body down to compensate for fixed navbar as h1 increases in size */
  }

  #garden-grid img,
  #gallery-grid img {
    height: 400px;
  }

  #hero {
    background: url("../images/hero.webp") no-repeat 0px 0px / cover;
  }

  .section {
    padding-top: 4rem; /* Account for fixed nav bar and h1 responsive size change */
  }

  #social-icons {
    font-size: 3rem;
  }

  #form-section {
    top: 25%; /* move the absolute position of the registration form */
  }
}

/* Large screen sizes - 992px and up */
@media screen and (min-width: 992px) {
  .section {
    padding-top: 6rem; /* Account for fixed nav bar and h1 responsive size change */
  }
}

/* X-Large screen sizes - 1200px and up */
@media screen and (min-width: 1200px) {
  nav > .container > a {
    width: 50%;
    text-align: right;
  }
}

/* XXL screen sizes - 1400px and up */
@media screen and (min-width: 1400px) {
  nav ul {
    font-size: 1.1rem;
  }
}