/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital@0;1&display=swap');

/* CSS Variables */
:root {
    --heading-font: "Great Vibes", cursive;
    --primary-font: "Nunito", sans-serif;
    --primary-background-color: black;
    --primary-font-color: white;
}

/* General CSS */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 2rem;
    /* margin bottom 0px centers heading with burger icon vertically */
    margin-bottom: 0px; 
}

/* Temp code test flex */
.container {
    border: black solid 1px;
}


/* Media Queries */

/* Medium screen sizes - 768px and up */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }    
}

/* Large screen sizes - 992px and up */
@media screen and (min-width: 992px) {
    h1 {
        /* margin bottom 8px centers heading navbar vertically - no more burger icon */
        margin-bottom: 8px;
    }    
}

/* X-Large screen sizes - 1200px and up */
@media screen and (min-width: 1200px) {
    nav>.container>a {
    width: 50%;
    text-align: right;
}   
}




