/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,500;1,500&display=swap");

/* CSS Variables */
:root {
  --heading-font: "Great Vibes", cursive;
  --primary-font: "Nunito", sans-serif;
  --primary-background-color: #1b512d; /* Dark green */
  --background-highlight-color: #def4c6; /* Off-White */
  --primary-text-color: #1c7c54; /* medium green */
  --secondary-text-color: #b1cf5f; /* light green */
}

/* General CSS */

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 2rem;
  word-spacing: 0.3rem;
  /* margin bottom 0px centers heading with burger icon vertically */
  margin-bottom: 0px;
  color: var(--background-highlight-color);
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primary-background-color);
}

h3 {
  color: var(--primary-background-color);
}

.button {
  background-color: white;
  border-color: var(--primary-background-color);
  color: var(--primary-background-color);
}

.button:hover {
  background-color: var(--primary-background-color);
  border-color: var(--primary-background-color);
  color: white;
}

/* Navbar */
nav {
  background-color: var(--primary-background-color);
  box-shadow: 0 3px 3px #3a3a3a;
}

.nav-item a {
  color: var(--background-highlight-color);
}

.nav-item .active {
  text-decoration: underline;
}

nav .btn-primary {
  background-color: var(--background-highlight-color);
  color: var(--primary-background-color);
  border: 2px solid var(--background-highlight-color);
}

nav .btn-primary:hover {
  background-color: var(--primary-background-color);
  border: 2px solid var(--background-highlight-color);
  color: var(--background-highlight-color);
}

/* Sections */
.section {
  margin-top: 1rem;
}

/* Hero section */
#hero {
  height: 60vh;
  background: url("../images/hero.webp") no-repeat 0px 0px / cover;
  box-shadow: 3px 3px 3px #3a3a3a;
}

/* Nav card section */
#nav-cards .card {
  border: none;
}

#nav-cards img {
  border-radius: 0.9rem;
 
}


/* Temp code test flex */
/* .container {
  border: black solid 2px;
} */

/* Media Queries */

/* Medium screen sizes - 768px and up */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    word-spacing: 1rem;
  }
}

/* X-Large screen sizes - 1200px and up */
@media screen and (min-width: 1200px) {
  nav > .container > a {
    width: 50%;
    text-align: right;
  }
}

/* XXL screen sizes - 1400px and up */
@media screen and (min-width: 1400px) {
  nav ul {
    font-size: 1.1rem;
  }
}
